<html>
<head>
    <title>Historical Places</title>
    <link href="project.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header class="header">
        <div class="container">
          <div class="navigation">
            <div class="logo">  Pleasant Holidays<br>
             <h6> We Travel, We Live.</h6>
            </div>
            <ul>
              <li>
                <a href="../index.html#home"> Home </a>
              </li>
              <li>
                <a href="../index.html#about"> About </a>
            </li>
            <li>
              <a href="../index.html#tours"> Tours </a>
            </li>
            <li>
              <a href="../index.html#offers"> Offers </a>
            </li>
            <li>
              <a href="../Book Now.html"><button class="btn">Book Now</button></a>
            </li>
          </ul>
        </div>
      </div>
    </header>
<div class="back">
    <img src="HAMPI.jpeg">
    
</div>
<div class="title">
    <h1>
        HISTORICAL
    </h1>
    <p><b>
        "Travel to feel the Ancient Intangibles and hear the wishpers of History."
    </b></p>
</div>  
<!--card1-->
<div class="main">
    <div class="cards">
<div class="image">
    <img src="stone.jpg">
</div>
<div class="cardtitle">  
  <h3>2N/2D</h3>
    <h2>STONE CHARIOT</h2>  
</div>
<div class="description">
    <p>Stone Chariot is a shrine dedicated to Garuda, located in front of Vijaya Vittala Temple in Hampi, central Karnataka.</p>
    <div class=pandr>   
      <div class="price">4350/-</div>
      <div class="likes">
        <img src="heart.svg"
        alt="heart"
        width="20"
        height="20"
        />
        4.9k
      </div>
      </div>
</div>
</div>
<!-- card2 -->
<div class="cards">
    <div class="image">
        <img src="jalasangvi.jpg">
    </div>
    <div class="cardtitle"> 
      <h3>1N/2D</h3> 
        <h2>JALASANGVI</h2>  
    </div>
    <div class="description">
        <p>Jalasangvi was the capital of King Virata and Pandava brothers are believed to have spent time here during their exile.</p>
        <div class=pandr>   
          <div class="price">4500/-</div>
          <div class="likes">
            <img src="heart.svg"
            alt="heart"
            width="20"
            height="20"
            />
            4.3k
          </div>
          </div>
    </div>
    </div>
<!--card3-->
    <div class="cards">
        <div class="image">
            <img src="halebeedu.jpg">
        </div>
        <div class="cardtitle">  
          <h3>1N/2D</h3>
          <h2>HALEBEEDU</h2>  
        </div>
        <div class="description">
            <p>Halebeedu was the ancient capital of the Hoysalas, you will be mesmerised by some the most sculpted in stone.</p>
        <div class=pandr>   
          <div class="price">3850/-</div>
          <div class="likes">
            <img src="heart.svg"
            alt="heart"
            width="20"
            height="20"
            />
            4.0k
          </div>
          </div></div>
        </div>
<!--card4-->
<div class="cards">
    <div class="image">
        <img src="hampi.jpg">
    </div>
    <div class="cardtitle">  
      <h3>2N/3D</h3>
        <h2>HAMPI</h2>  
    </div>
    <div class="description">
        <p>An awesome boulder-strewn landscape along the banks of Tungabhadra River, Hampi - capital of Vijayanagara Empire.</p>
        <div class=pandr>   
          <div class="price">5150/-</div>
          <div class="likes">
            <img src="heart.svg"
            alt="heart"
            width="20"
            height="20"
            />
            3.9k
          </div>
          </div>
    </div>
    </div>
<!--card5-->
<div class="cards">
    <div class="image">
        <img src="aihole.jpg">
    </div>
    <div class="cardtitle">  
      <h3>1N/2D</h3>
        <h2>AIHOLE</h2>  
    </div>
    <div class="description">
        <p>Aihole is a tranquil village on the banks of Malaprabha River, is heralded as the cradle of Hindu  temple architecture.</p>
        <div class=pandr>   
          <div class="price">3700/-</div>
          <div class="likes">
            <img src="heart.svg"
            alt="heart"
            width="20"
            height="20"
            />
            4.9k
          </div>
          </div>
    </div>
    </div>
<!--card6-->
<div class="cards">
    <div class="image">
        <img src="badami.jpg">
    </div>
    <div class="cardtitle">  
      <h3>2N/3D</h3>
        <h2>BADAMI</h2>  
    </div>
    <div class="description">
        <p>The exquisite sculptures and sandstone cliffs of Badami bring a tale from the yesteryears. Must visit here to witness the themes.</p>
        <div class=pandr>   
          <div class="price">5300/-</div>
          <div class="likes">
            <img src="heart.svg"
            alt="heart"
            width="20"
            height="20"
            />
            4.9k
          </div>
          </div>
    </div>
    </div>
<!--card7-->
<div class="cards">
    <div class="image">
        <img src="basavakalyan.jpg">
    </div>
    <div class="cardtitle">  
      <h3>1N/2D</h3>
        <h2>BASAVAKALYAN</h2>  
    </div>
    <div class="description">
        <p>Basavakalyan was once the capital of the Kalyana Chalukyas and the centre of a great social and religious upheaval in the 12th century.</p>
        <div class=pandr>   
          <div class="price">4300/-</div>
          <div class="likes">
            <img src="heart.svg"
            alt="heart"
            width="20"
            height="20"
            />
            4.2k
          </div>
          </div>
    </div>
    </div>
<!--card8-->
<div class="cards">
    <div class="image">
        <img src="beluru.jpg">
    </div>
    <div class="cardtitle">  
      <h3>2N/3D</h3>
        <h2>BELURU</h2>  
    </div>
    <div class="description">
        <p>Beluru is situated on the banks of Yagachi River. Renowned for its magnificent Hoysala temple complex, the Chennakeshava Temple .</p>
        <div class=pandr>   
          <div class="price">4750/-</div>
          <div class="likes">
            <img src="heart.svg"
            alt="heart"
            width="20"
            height="20"
            />
            4.9k
          </div>
          </div>
    </div>
    </div>
<!--card9-->
<div class="cards">
    <div class="image">
        <img src="ashtoor.jpg">
    </div>
    <div class="cardtitle">  
      <h3>2N/3D</h3>
        <h2>ASHTOOR</h2>  
    </div>
    <div class="description">
        <p>Ashtoor is an important centre of Indo-Saracenic monuments. Twelve imposing mausoleums are located at Ashtur east of Bidar.
          A must included itinerary.<p>
        <div class=pandr>   
          <div class="price">4600/-</div>
          <div class="likes">
            <img src="heart.svg"
            alt="heart"
            width="20"
            height="20"
            />
            4.9k
          </div>
          </div>
    </div>
    </div>

<!-- SECTION FOOTER -->
<footer class="section-footer">
  <div class="footer-box container">
    <div class="contact-details">
      <h1 class="heading heading--2 margin-bottom">PLEASANT HOLIDAYS </h1>
      
      <ul class="contact-data">
        <li class="location">98 Lavelle Road, Bangalore - 01</li>
        <li class="phone">+91 6789356710</li>
        <li class="email">pleasantholidays@gmail.com</li>
        <li class="social">
          <img
            src="logo-whatsapp.svg"
            alt="whatsapp icon"
            width="35"
            height="35"
          />

          <img
            src="logo-facebook.svg"
            alt="facebook icon"
            width="35"
            height="35"
          />

          <img
            src="logo-instagram.svg"
            alt="instagram icon"
            width="35"
            height="35"
          />

          <img
            src="logo-twitter.svg"
            alt="twitter icon"
            width="35"
            height="35"
          />
        </li>
      </ul>
    </div>

    <nav class="footer-nav" aria-label="navigation">
      <div class="nav-name">Quick Links</div>
      <ul>
        <li><a href="../index.html#home">Home</a></li>
        <li><a href="../index.html#about">About</a></li>
        <li><a href="../index.html#tours">Tours</a></li>
        <li><a href="../index.html#offers">Offers</a></li>
        <li><a href="../Book Now.html">Book Now</a></li>
      </ul>
    </nav>

    <nav class="footer-nav" aria-label="navigation">
      <div class="nav-name">Popular Destinations</div>
      <ul>
        <li><a href="../index.html#staycation">Staycation</a></li>
        <li><a href="../index.html#trekking">Trekking</li>
        <li><a href="../index.html#tranquility">Tranquility</a></li>
        <li><a href="../index.html#historical">Historical Places</a></li>
        <li><a href="../index.html#beaches">Beaches</a></li>
        <li><a href="../index.html#wildlife">Wildlife</a></li>
      </ul>
    </nav>

    <div class="story">
      <div class="story__title">Our Story!</div>
      <div class="story__text">
        Any world traveller knows that sometimes you start down one path and end up on another.<br>
        "We do it because we love to help people. and we help them with something they always wanted to see or do and 
        have no clue how to get there." This made us start our venture. Pleasant Holidays is a tourism & travel agency 
        based in Karnataka. 
        Being a young agent is a big opportunity to show others the beautiful places in the world with confidence, 
        and to have stories to tell for a long, long time.
      </div>
    </div>

    
  </div>
</footer>
</body>
</html>