<html>
<head>
    <title>Trekking</title>
    <link href="project.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header class="header">
        <div class="container">
          <div class="navigation">
            <div class="logo">  Pleasant Holidays<br>
             <h6> We Travel, We Live.</h6>
            </div>
            <ul>
              <li>
                <a href="../index.html#home"> Home </a>
              </li>
              <li>
                <a href="../index.html#about"> About </a>
            </li>
            <li>
              <a href="../index.html#tours"> Tours </a>
            </li>
            <li>
              <a href="../index.html#offers"> Offers </a>
            </li>
            <li>
              <a href="../Book Now.html"><button class="btn">Book Now</button></a>
            </li>
          </ul>
        </div>
      </div>
    </header>
<div class="back">
    <img src="trekk.jpg">
</div>
<div class="title">
    <h1>
        TREKKING
    </h1>
    <p><b>
        "When everything feels like an uphill struggle,
        Just think of the view from the top."
    </b></p>
</div>  
<!--card1-->
<div class="main">
    <div class="cards">
<div class="image">
    <img src="kudremukh.jpg">
</div>
<div class="cardtitle">  
  <h3>1D/1N</h3>
    <h2>KUDREMUKH</h2>  
</div>
<div class="description">
    <p>It is the 3rd highest peak in Karnataka, this riveting trek leads to a setting of abundance in nature as clouds pass by when you touch the peak.</p>
    <div class=pandr>   
      <div class="price">1850/-</div>
      <div class="likes">
        <img src="heart.svg"
        alt="heart"
        width="20"
        height="20"
        />
        4.8k
      </div>
      </div>
</div>
</div>
<!-- card2 -->
<div class="cards">
    <div class="image">
        <img src="KODACHADRI.jpg">
    </div>
    <div class="cardtitle">  
      <h3>1D/2N</h3>
        <h2>KODACHADRI</h2>  
    </div>
    <div class="description">
        <p>It delivers you with everything, from perfectly dense forests to a high waterfall and is truly a heritage site as it sits amidst a sea of clouds.</p>
        <div class=pandr>   
          <div class="price">2850/-</div>
          <div class="likes">
            <img src="heart.svg"
            alt="heart"
            width="20"
            height="20"
            />
            4.6k
          </div>
          </div>
    </div>
    </div>
<!--card3-->
    <div class="cards">
        <div class="image">
            <img src="TADIANDAMOL.jpg">
        </div>
        <div class="cardtitle">  
          <h3>1D/2N</h3>
            <h2>TADIANDAMOL</h2>  
        </div>
        <div class="description">
            <p>Tadiandamol Considered as the highest peak of Coorg, major portions of the trail are adorned in a blanket of beautiful white flowers and is soothing to the eye.</p>
            <div class=pandr>   
              <div class="price">3120/-</div>
              <div class="likes">
                <img src="heart.svg"
                alt="heart"
                width="20"
                height="20"
                />
                5.0k
              </div>
              </div>
        </div>
        </div>
<!--card4-->
<div class="cards">
    <div class="image">
        <img src="galibeedu.jpg">
    </div>
    <div class="cardtitle">  
      <h3>1D/2N</h3>
        <h2>GALIBEEDU</h2>  
    </div>
    <div class="description">
        <p>Covered in lush greens, nestled amidst the Western Ghat with a panoramic view of the mountain, this beauty is brimming with small streams and valleys.</p>
        <div class=pandr>   
          <div class="price">2120/-</div>
          <div class="likes">
            <img src="heart.svg"
            alt="heart"
            width="20"
            height="20"
            />
            4.0k
          </div>
          </div>
    </div>
    </div>
<!--card5-->
<div class="cards">
    <div class="image">
        <img src="Mullayanagiri-Trek.jpg">
    </div>
    <div class="cardtitle">  
      <h3>1D/1N</h3>
        <h2>MULLAYANAGIRI</h2>  
    </div>
    <div class="description">
        <p>The highest peak in Karnataka, regarded by some as 'Mini Himalayas'. It is the view at the top where you take in the beauty of the Western Ghats.</p>
        <div class=pandr>   
          <div class="price">1700/-</div>
          <div class="likes">
            <img src="heart.svg"
            alt="heart"
            width="20"
            height="20"
            />
            4.9k
          </div>
          </div>
    </div>
    </div>
<!--card6-->
<div class="cards">
    <div class="image">
        <img src="skandagiri.jpg">
    </div>
    <div class="cardtitle">  
      <h3>1D/2N</h3>
        <h2>SKANDAGIRI</h2>  
    </div>
    <div class="description">
        <p>Skandagiri locks one of the most mesmerizing views of the sky and earth that meet at sunrise with clouds at an eye-level height urging you not to leave</p>
        <div class=pandr>   
          <div class="price">2560/-</div>
          <div class="likes">
            <img src="heart.svg"
            alt="heart"
            width="20"
            height="20"
            />
            5.0k
          </div>
          </div>
    </div>
    </div>
<!--card7-->
<div class="cards">
    <div class="image">
        <img src="Bandaje-Arbi-Falls-Trek.jpg">
    </div>
    <div class="cardtitle">  
      <h3>1D/2N</h3>
        <h2>BANDAJE ARBI</h2>  
    </div>
    <div class="description">
        <p>Bandaje Arbi - Located in the Charmadi ghat section of the Western Ghats,it  is the trek known for its untouched beauty and paradisiacal landscapes.</p>
        <div class=pandr>   
          <div class="price">2200/-</div>
          <div class="likes">
            <img src="heart.svg"
            alt="heart"
            width="20"
            height="20"
            />
            4.1k
          </div>
          </div>
    </div>
    </div>
<!--card8-->
<div class="cards">
    <div class="image">
        <img src="YANA.jpg">
    </div>
    <div class="cardtitle">  
      <h3>1D/1N</h3>
        <h2>YANA</h2>  
    </div>
    <div class="description">
        <p>Yana is mainly famous for two magnificent black rock formations which are known as the Bhairaveshwara Shikhara and the Mohini Shikhara</p>
        <div class=pandr>   
          <div class="price">1440/-</div>
          <div class="likes">
            <img src="heart.svg"
            alt="heart"
            width="20"
            height="20"
            />
            3.9k
          </div>
          </div>
    </div>
    </div>
<!--card9-->
<div class="cards">
    <div class="image">
        <img src="savandurga.jpg">
    </div>
    <div class="cardtitle">  
      <h3>1D/1N</h3>
        <h2>SAVANDURGA</h2>  
    </div>
    <div class="description">
        <p>Savandurga is the largest monolith rock in Asia. The hill is surrounded by the forest region of Magadi. One can spot beautiful migratory birds in the green horizons.</p>
        <div class=pandr>   
          <div class="price">1860/-</div>
          <div class="likes">
            <img src="heart.svg"
            alt="heart"
            width="20"
            height="20"
            />
            5.0k
          </div>
          </div>
    </div>
    </div>
</div>

<!-- SECTION FOOTER -->
<footer class="section-footer">
  <div class="footer-box container">
    <div class="contact-details">
      <h1 class="heading heading--2 margin-bottom">PLEASANT HOLIDAYS </h1>
      
      <ul class="contact-data">
        <li class="location">98 Lavelle Road, Bangalore - 01</li>
        <li class="phone">+91 6789356710</li>
        <li class="email">pleasantholidays@gmail.com</li>
        <li class="social">
          <img
            src="logo-whatsapp.svg"
            alt="whatsapp icon"
            width="35"
            height="35"
          />

          <img
            src="logo-facebook.svg"
            alt="facebook icon"
            width="35"
            height="35"
          />

          <img
            src="logo-instagram.svg"
            alt="instagram icon"
            width="35"
            height="35"
          />

          <img
            src="logo-twitter.svg"
            alt="twitter icon"
            width="35"
            height="35"
          />
        </li>
      </ul>
    </div>

    <nav class="footer-nav" aria-label="navigation">
      <div class="nav-name">Quick Links</div>
      <ul>
        <li><a href="../index.html#home">Home</a></li>
        <li><a href="../index.html#about">About</a></li>
        <li><a href="../index.html#tours">Tours</a></li>
        <li><a href="../index.html#offers">Offers</a></li>
        <li><a href="../Book Now.html">Book Now</a></li>
      </ul>
    </nav>

    <nav class="footer-nav" aria-label="navigation">
      <div class="nav-name">Popular Destinations</div>
      <ul>
        <li><a href="../index.html#staycation">Staycation</a></li>
        <li><a href="../index.html#trekking">Trekking</li>
        <li><a href="../index.html#tranquility">Tranquility</a></li>
        <li><a href="../index.html#historical">Historical Places</a></li>
        <li><a href="../index.html#beaches">Beaches</a></li>
        <li><a href="../index.html#wildlife">Wildlife</a></li>
      </ul>
    </nav>

    <div class="story">
      <div class="story__title">Our Story!</div>
      <div class="story__text">
        Any world traveller knows that sometimes you start down one path and end up on another.<br>
        "We do it because we love to help people. and we help them with something they always wanted to see or do and 
        have no clue how to get there." This made us start our venture. Pleasant Holidays is a tourism & travel agency 
        based in Karnataka. 
        Being a young agent is a big opportunity to show others the beautiful places in the world with confidence, 
        and to have stories to tell for a long, long time.
      </div>
    </div>

    
  </div>
</footer>
</body>
</html>